# Auto detect text files and perform LF normalization
* text=auto

# Ignore examples when detecting repo language
# More info at https://github.com/github/linguist/blob/master/docs/overrides.md
examples/* linguist-vendored
